<div class="box box-primary address nested-fields">
  <div class="box-header with-border">
    <h3 class="box-title">
      <%= Vehicle.model_name.human %>
    </h3>
  </div>
  <div class="box-body">
    <div class="row ">
      <%= f.input :description, wrapper_html: { class: 'col-lg-3' } %>
      <%= f.input :color, wrapper_html: { class: 'col-lg-3' } %>
      <%= f.input :mark, wrapper_html: { class: 'col-lg-4' } %>
      <%= f.input :mileage, wrapper_html: { class: 'col-lg-2' } %>
      <%= f.input :plate, wrapper_html: { class: 'col-lg-4' } %>
      <%= f.input :state_federation, wrapper_html: { class: 'col-lg-4' } %>
    </div>
  </div>
</div>
