<%= render 'shared/show', object: @deliverer, excluded_columns: ['vehicle_id','address_id']  %>


<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">
      Dados do Usuário
    </h3>
  </div>
  <div class="box-body no-padding">
    <table class="table table-bordered table-striped no-padding">
      <tbody>
        <tr>
          <th width='15%'><%= User.human_attribute_name(:name) %></th>
          <td><%= @deliverer.user.name %></td>
        </tr>
        <tr>
          <th width='15%'><%= User.human_attribute_name(:email) %></th>
          <td><%= @deliverer.user.email %></td>
        </tr>
        <tr>
          <th width='15%'><%= Deliverer.human_attribute_name(:address) %></th>
          <td><%= @deliverer.address.full_address %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


</div>
